.main {
  position: relative;
  min-height: 100vh;
  background-color: rgb(245, 245, 235);
}

.container-wrap {
  padding-bottom: 3rem;
}

img.identity {
  max-width: 100%;
  max-height: 275px;
  height: auto;
}

.create-form {
  padding-top: 3.5rem;
}

.create-form input {
  color: darkslategray;
  border-radius: 1rem;
  padding-left: 1.5rem;
}

.create-form textarea {
  border-radius: 1rem;
  color: darkslategray;
  height: 10rem !important;
}

.img-container {
  padding: 1rem;
}

.course-desc {
  color: darkslategrey;
  padding: 0.5rem 0.75rem 1rem 0.75rem;
}

.course-desc h2 {
  text-transform: capitalize;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.course-desc p {
  padding-top: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  font-size: medium;
  text-align: justify;
}

.course-video {
  max-width: 90%;
  height: 400px;
}

.footer {
  background-color: rgb(17, 17, 48);
  color: rgb(206, 75, 28);
  position: absolute;
  padding-top: 0.5rem;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: rgb(206, 75, 28);
}

@media only screen and (min-width: 1000px) {
  .img-container {
    max-width: 420px;
  }
}

@media only screen and (max-width: 766px) {
  .card {
    padding: 1.5rem;
  }
}